<% content_for :navigation_title do %>
    Update Status
<% end %>

<%= form_for @status do |f| %>
    <div style="margin: 5px 0; padding: 0;">
      <div style="margin-bottom: 5px;">
        <%= f.text_area :text, :class => 'status-text' %>
      </div>
      <div style="margin-bottom: 10px; text-align: left;">
        <%= f.submit 'Post', :class => 'btn btn-primary small' %>
      </div>
    </div>
<% end %>

<ul class="statuses">
<% @statuses.each do |status| %>
    <li>
        <h3><%= image_tag status.user.avatar.url(:thumb) %><%= status.user.full_name %></h3>
        <%= status.text %>
    </li>
<% end %>
</ul>