<% content_for :navigation_title do %>
    Update Status
<% end %>

<%= form_for @status do |f| %>
    <div style="margin: 5px 0; padding: 0;">
      <div style="margin-bottom: 5px;">
        <%= f.text_area :text, :class => 'status-text' %>
      </div>
      <div style="margin-bottom: 10px; text-align: left;">
        <%= f.submit 'Post', :class => 'btn btn-primary small' %>
      </div>
    </div>
<% end %>

<ul class="statuses">
  <% @statuses.each do |status| %>
      <li>
        <%= image_tag status.user.avatar.url(:thumb), :style => 'width: 32px; height: 32px; margin-right: 6px;' %>
        <%= status.user.full_name %></h3>
        <div style="margin-top: 15px;">
          <%= status.text %>
        </div>
        <div style="text-align: right; margin-top: 15px;">
          <%= link_to 'Direct Message', new_direct_message_path(:to_user_id => status.user.id) %>
        </div>
      </li>
  <% end %>
</ul>