<h1>Advanced Settings</h1>
<table class="table table-bordered table-hover">
  <tr>
    <th><%= link_to("Change Classes", ) %></th>
  </tr>
  <tr>
    <th><%= link_to("Edit Classmates", ) %></th>
  </tr>
  <tr>
    <th><%= link_to("Language Filter", ) %></th>
  </tr>
  <tr>
    <th><%= link_to("Blocked Accounts", ) %></th>
  </tr>
  <tr>
    <th><%= link_to('Deactivate Account', user_registration_path, :confirm => 'Are you sure you want to deactivate your account? You can not reverse this action.', :method => :delete) %></th>
  </tr>
</table>
<p>From this control panel, you can change the advanced settings of your profile. <br /> Don't see what you're looking for? Check the <%= link_to("general settings.", '/generalsettings') %></p>
