<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @index.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @index.content %>
</p>

<%= link_to 'Edit', edit_index_path(@index) %> |
<%= link_to 'Back', indices_path %>
