<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />
  <link href="http://www.pps.k12.or.us/schools/madison/files/madison/madison_logo_restored.png" rel="icon" type="image">
  <title>MadisonLive</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body id="home">

<nav class="navbar navbar-inverse navbar-static-top">
  <span><h1>Madison Live<span class="glyphicon glyphicon-user dropdown dropdown-toggle" data-toggle="dropdown" id="profile" href="#"></span><ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="profile"><li role="presentation"><a role="menuitem" tabindex="-1">
    <% if user_signed_in? %>
        <%= link_to('View Profile', profiles_path(current_user.id)) %>
    <% else %>
        <%= link_to("Sign In", new_user_session_path) %>
    <% end %></a><li role="presentation"><a role="menuitem" tabindex="-1">
    <% if user_signed_in? %>
        <%= link_to('Edit Profile', profiles_path(current_user.id)) %>
    <% else %>
    <% end %></a></li><li role="presentation" class="divider"></li><li role="presentation"><a role="menuitem" tabindex="-1" href="#">Search Users</a></li><li role="presentation" class="divider"></li><li role="presentation"><a role="menuitem" tabindex="-1" href="#">Browse Classes</a></li></ul></span>

  <span><span class="glyphicon glyphicon-envelope dropdown dropdown-toggle" data-toggle="dropdown" id="messages" href="#"></span><ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="messages"><li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Message</a></li><li role="presentation" class="divider"></li><li role="presentation"><a role="menuitem" tabindex="-1" href="#">View Messages</a></li><li role="presentation" class="divider"></li><li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pop Out Chat</a></li></ul></span>

  <span><span class="glyphicon glyphicon-wrench dropdown dropdown-toggle" data-toggle="dropdown" id="settings" href="#"></span><ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="settings"><li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to('General Settings', '/generalsettings') %></a></li><li role="presentation" class="divider"></li><li role="presentation"><a role="menuitem" tabindex="-1"><%= link_to("Advanced Settings.", '/advancedsettings') %></a></li><li role="presentation" class="divider"></li><li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact Us</a></li><li role="presentation" class="divider"></li><li role="presentation"><a role="menuitem" tabindex="-1" href="#">Help</a></li></ul></span>

  <span><div class="btn btn-default btn-lg link-color col-md-offset-4">
    <% if user_signed_in? %>
        <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
    <% else %>
        <%= link_to('Sign In', new_user_session_path)  %>
    <% end %></div></span></h1>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="floors.html">Building Map</a></li>
        <li><a href="lunch-options.html">Lunch Options</a></li>
        <li><%= link_to('Schedule', schedules_path) %></li>
        <li><a href="onlineplanner.html">Online Planner</a></li>
        <li><%= link_to('Statuses', statuses_path) %></li>
      </ul>
      <ul>
        <li>
          Love the app? See a bug? Let us know!<br>
          <form id="message" value="message">
            Contact Us:<input type="text">
            <input type="submit" value="Send" action="mailto:TristanDamron31@gmail.com"></form>
        </li>
      </ul>

      <div class="col-md-1 chatbox">
        <!-- Ruby chat code should get included here. Chatboxes should show up on all the pages. -->
      </div>
    </div>

    <div class="col-xs-8">
      <%= yield %>
    </div>
  </div>
</div>

<script src="js/bootstrap.js"></script>
<script type="text/javascript">$(document).ready(function () { $('.dropdown-toggle').dropdown(); });</script>

</body>
</html>
